<!-- 


<form class= "ui form"
		action="channels"
		method= "post">

		<div class="field">
			<label for="description">Description</label>
			<textarea type= "text"
						 rows= "2"
						 cols= "40"
						 placeholder="Description goes here">
						 </textarea>
		</div> -->
		
<h3>Title: <em><%= @channel.title %></em></h3>
<h3>Content:<% @channel.messages.collect do |channel_messages| %>
	
	<p><a href="message/<%=channel_messages.user_id%>"> <%= "#{channel_messages.username}: "%> </a><%="#{channel_messages.content}" %></p>

	<%end%>
	</h3>


<form action='/channel/<%=@channel.id %>' method='POST'>
<label>Content: </label><br><br><input id="content" type='text' name="content"><br><br>

<input type="submit" value="submit">
