<!DOCTYPE html>
<html>
<head>
	<title>Messaging Application</title>
</head>
<body>
	<% if logged_in? %>
		<div style="background-color: blue; width: 100%; height: 50px; color: white">
			<p><%= current_user.username %>'s chat page</p> 
			<a href="/logout"><button type="submit">Log Out</button></a>
		</div>
		<div style="width: 15vw; background-color: green; color: white; height: 100vh; float: left">
			<h2>public threads</h2>
			<ul>
				<% public_channels.each do |channel| %>
					<a href="/channels/<%=channel.id%>"><%= channel.title %></a>
				<% end %>

				<a href="/channels/new"> <button>Create Thread</button></a>
			</ul>
			<hr />
			<h2>Private Threads</h2>
			<ul>
			
			
			<% User.all.each do |user| %>
				
				<% if  user.username != current_user.username %>
			 <p><%= user.username %> <a href="/messages/<%=user.id%>"><button>DM</button></a></p>
			 <%end%>
			<%end%>
			<%end%>
			</ul>
		</div>

		<div style="width: 80vw; height: 100vh; float: left">
			<%= yield %>
		</div>
	<% else %>
		<a href='/signup'><button type="submit">Create A User</button></a>&nbsp
		<a href='/login'><button type="submit">Log In</button></a>
		<div style="width: 80vw; height: 100vh; float: left">
			<%= yield %>
		</div>
	<% end %>

</body>
</html>
